.about_tag {
  height:calc(100vh);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  padding:100px 0 0 100px;
  /* border:1px solid red; */
}
.about_tag h1{
  font-size: 108px;
  color: white;
  line-height: 1;
  display: flex;
  justify-content: flex-start;
  width: 100vw;

}
.span_color {
    color: #64ffda;
  }

  @media only screen and (max-width: 768px) {
    .about_tag {
      padding: 0px 20px;
    }
    .about_tag h1{
      font-size: 84px;
    }
  }
  