.contact_tag{
    height:calc(100vh - 100px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:100px;
    padding-top: 65px;
    /* border:1px solid red; */
}
.contact_tag>h1{
    font-size:108px;
    color: #fff
}