.contact_tag {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  padding-top: 65px;
}
.contact_tag > h1 {
  font-size: 108px;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .contact_tag {
    padding:0px 20px;
  }
  .contact_tag > h1{
      font-size:84px;
  }
}
