.works_tag{
    height:calc(100vh - 100px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding:100px 0 0 100px;
}
.works_tag>h1{
    font-size:108px;
    color: #fff;
    line-height:1;
}