.contact {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 65px;
  height: calc(100vh - 100px);
  margin-top: -50px
}
.contact_heading {
  flex: 0.2;
  width: 100vw;
  padding-left: 100px;

}
.contact_heading h1 {
  padding-top: 25px;
  font-size: 50px;
}
.contact_heading span {
  color: #64ffda;
}
.contact_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding:50px 100px;


}
.contact_content_top > h4 {
  font-weight: normal;
  font-size: 20px;
  display: flex;
  justify-content:flex-start;
  align-items:center;   

}
.contact_content_middile{
  width: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border:1px solid red; */

}
.contact_content_middile_link{
  /* color: #fff; */
  color: #64ffda;

  /* padding: 0px 10px; */
  font-size:20px;
  font-weight: 500;
  line-height:2;
  text-decoration: none;
}
.contact_content_middile_link:hover{
  color: #fff;
}
.contact_content_middile_icon>{
  color: #fff;
  padding: 0px 10px;
}
.contact_content_middile_icon:hover{
  color: #64ffda;
}

@media only screen and (max-width: 768px){
  .contact{
    padding-top: 0px;
    margin-top: -100px;
  }
  .contact_heading h1{
    font-size:40px;
    padding-top:0px;
  }
  .contact_heading{
    padding-left: 20px;
  }
  .contact_content{
    padding: 20px;
  }
}