.work {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.work_heading {
  flex: 0.2;
  width: 100vw;
  padding-left: 100px;
}
.work_heading > h1 {
  padding-top: 25px;
  font-size: 50px;
}
.work_projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 100px;
}
.work_projects_reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 65px 100px;
}
.work_projects_image {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work_projects_image > img {
  height: 250px;
  object-fit: contain;
}
.work_projects_text {
  flex: 0.5;
  width: 100%;
}
.work_projects_text {
  padding: 0px 40px;
}
.work_projects_text > h4 {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
}
.work_projects_text_heading {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.work_projects_text_heading > h1 {
  padding: 30px 0px;
  font-weight: normal;
}
.work_projects_text_icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}
.work_projects_text_icons > a {
  text-decoration: none;
  color: #fff;
}
.work_projects_text_icons_individual {
  padding: 0px 10px;
}
.work_projects_text_icons_individual:hover {
  color: #64ffda;
}
.work_projects_text_techused {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.work_projects_text_techused > h4 {
  padding: 0px 10px;
  font-weight: 500;
  font-size: 15px;
}
.work_show_more {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 50px 100px;
  place-items: center;
}
.work_tooglebutton_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.work_toogleshow_button {
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  color: #64ffda;
  border: 1px solid #64ffda;
}
.work_toogleshow_button:hover {
  background-color: #133040;
}
@media only screen and (max-width: 768px) {
  .work_heading {
    padding-left: 30px;
  }
  .work_heading{
    font-size: 40px;
  }
  .work_projects,.work_projects_reverse{
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.work_projects_image>img{
height:200px;
object-fit: contain;
}
.work_show_more {
  grid-template-columns: auto ;
  padding: 60px 20px;

}
}
